


.post{
    color:#07bdc4;
}

.linea{
    border-top: 2px solid aliceblue;
    margin-bottom: 40px;
    width: 80%;

}

.links {
    color: beige;
    text-decoration: none;
}


.imgportfolio {
  background-image: url('https://images8.alphacoders.com/800/thumb-1920-800055.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}